body{
  font-family: 'Limelight', cursive;
  background-color: #508AA8;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p, h1{
  text-align: center;
}
p{
  font-style: italic;
}

figure{
  width: 300px;
  border: 2px solid #3370FF;
  padding: 1em;
  background-color: #70B3FF;
  box-shadow: 7px 7px 5px #70B3FF
}

figcaption{
  font-size: 14px;
}

figcaption img{
  color: #00257A;
}

img{
  width: 300px;
}
