body{
  font-family: 'Limelight', cursive;
  background-color: #508AA8;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p, h1{
  text-align: center;
}
p{
  font-style: italic;
}

figure{
  width: 300px;
  border: 2px solid #F59F00;
  /** 3370ff orginal **/
  padding: 1em;
  background-color: #FF6201;
  /** 70B3FF orginal **/
  box-shadow: 7px 7px 5px #E05600
}

figcaption{
  font-size: 14px;
}
img{
  width: 300px;
}
a {
  color: #521F00;
}
